@font-face {
  font-family: "RideTheFader";
  src: url(/assets/fonts/RideTheFader.ttf);
}
@font-face {
  font-family: "MonoBold";
  src: url(/assets/fonts/MonoBold.ttf);
}

html {
    display:flex;
    justify-items: stretch;
}

*{
    /* background-color: #000; */
    /* border: 1px solid red; */
}


body {
  width: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

#score-area {
  width: 100%;
  height: 40vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-items: center;
  position:fixed;
  top:0;
}
.team-div {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.team-name {
  width: 100%;
  font-size: 12vw;
  background-color: transparent;
  color: gold;
  border-color: transparent;
  text-align: center;
  font-family: "MonoBold", sans-serif;
  padding-top: 2vh;
}
.score-points {
  width: 100%;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}
.score-span {
  align-self: center;
  justify-self: center;
  min-width: 3.5ch;
  font-family: "RideTheFader", sans-serif;
  font-size:15vw;
  border: 1px solid gold;
  background-color: #222;
  color: red;
  order: 2;
}


.stats-area {
  width:100%;
  margin-top: 40vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #000;
  justify-content: stretch;
  flex-grow:1;
}

table {
  width: 98vw;
  margin: 0 1vw;
  border: 2px solid gold;
  /* width: 30vw; */
  font-family: sans-serif;
  color: #fff;
  border-collapse: collapse;
  justify-self: center;
}

/* table *{
    background-color: gray;
} */

.table-head {
  border-bottom: 0;
  padding: 0.5rem 0;
  font-size: 10vw;
  color: gold;
}

th {
    font-size: 5vw;
}

caption {
    flex-grow: 1;
}

td {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 4vw;
  font-weight: 600;
  font-family: sans-serif;
}

td *{
    color: #fff;
    background-color:#000;
    border: 0;
    font-size: 4vw;
}

/* player number */
.player-no {
    max-width: 3ch;
    text-align: center;
}

/* player name */

.player-name {
    max-width: 15ch;
    text-align: center;
}


#btn-container{
    display:flex;
    align-items: center;
    justify-items: center;
}

.buttons-div {
  display: flex;
  flex-direction: row;
  align-self:center;
  justify-self: center;
  order: 1;
  max-width: 100%;
}

button {
    background-color: #fff;
    border-radius: 25px;
    font-size: 4vw;
    font-weight: bold;
  }

  .btn-2p {
    color: green;
    flex-basis: 40%;
    border: 3px solid green;
    order: 3;
  }
  
  .btn-1p {
    /*     padding: 0 2em; */
    color: blue;
    flex-basis: 20%;
    border: 3px solid blue;
    order: 2;
  }
  
  .btn-3p {
    /*     padding: 0 2em; */
    color: red;
    flex-basis: 20%;
    border: 3px solid red;
    order: 1;
  }

.btn-2p:hover {
  background-color: green;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
}

.btn-1p:hover {
  background-color: blue;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
}

.btn-3p:hover {
  background-color: red;
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
}



footer {
  padding-top: 1vh;
  height: 10vh;
  width: 100%;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  color:#fff;
  align-self: center;
  justify-self: center;
}

footer>hr {
  position: relative;
  width: 100%;
  align-self: center;
  margin: 0;
  border-color: gold;
}

#footer-div {
    background-color: #222;
    height:100%;
    width: 100%;
}

#loading-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.5;
  position: fixed;
  display: flex;
  top: 0;
  padding: 45vh 40vw;
  font-size: 5vw;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}    